<div class="container">
  <ng-container *ngIf="step === 'LOGIN'">
    <app-login [name]="name" (go)="go()"></app-login>
  </ng-container>

  <ng-container *ngIf="step === 'GAME'">
    <app-game
      (addGoodAnswer)="addGoodAnswer()"
      (finish)="finish()"
      [numberOfGoodAnswers]="numberOfGoodAnswers"
    ></app-game>
  </ng-container>

  <ng-container *ngIf="step === 'FINISH'">
    <h2>
      Congratulations {{ name }}, you finished with {{ numberOfGoodAnswers }}!
      Well done!
    </h2>
  </ng-container>
</div>
